.base {
  padding: 0 60px;
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-data {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
  }

  &-avatar {
    margin-right: 50px;

    img {
      width: 350px;
      height: 400px;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;

    &__name {
      font-size: 50px;
    }

    &__detail {
      font-size: 24px;
      line-height: 35px;
    }

    &__scroll_indicator {
      margin-top: 24vh;

      p {
        font-size: 20px;
      }

      i {
        animation: 3s infinite heartbeat;
        cursor: pointer;
        z-index: 1;
      }
    }
  }

  &-cta {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;

    .btn-primary {
      width: 120px;
      font-weight: 600;
      text-align: center;
    }
  }
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(1.5); }
  50% { transform: scale(1); }
  75% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

