[data-theme="dark"] {
  body {
    background: #0a0f1b;
    color: #e4e4e4;

    a {
      color: #e4e4e4;
    }

    i {
      color: #e4e4e4;
    }
  }

  .navbar {
    &-navlinks {
      .active {
        border-bottom: 1px solid #e4e4e4;
      }

      &--link {
        border-top: 1px solid #e4e4e4;

        &:hover {
          border-bottom: 1px solid #e4e4e4;
        }
      }
    }
  }

  .base {
    &-cta {
      .btn-primary {
        color: #0a0f1b;
      }
    }
  }

  .project-card {
    background: #17233f;

    &--hr_set {
      hr {
        background-color: #e4e4e4;
      }
    }

    &--title {
      color: #e4e4e4;
    }

    &--details {
      color: #e4e4e4;

      &__cta {
        .github-icon {
          border: 1px solid #e4e4e4;
          padding: 5px;
          border-radius: 50%;
        }

        .btn-primary {
          border: 1px solid #e4e4e4;
        }
      }
    }
  }
}
